* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #333333;
  color: #e0e0e0;
  font-family: "Noto Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}

/* GENERAL SETTINGS */
main,
footer {
  max-width: 90%;
  margin: 4rem auto;
}

a {
  text-decoration: none;
}

p,
h4 {
  padding-bottom: 1.3rem;
}

/* SECTION SETTINGS */
.section {
  width: 30rem;
  max-width: 90%;
  margin: 0 auto;
  border: 1px solid #bdbdbd;
  border-radius: 1.5rem;
}

.section_container {
  margin: 2.5rem;
}

.section_header {
  font-size: 1.2rem;
}

.logo {
  padding-bottom: 1.3rem;
}

/* FORM STYLING  */
form {
  border-radius: 0.6rem;
}

input {
  width: 90%;
  padding: 0.9rem;
  border: 1px solid #bdbdbd;
  border-radius: 5px;
  font-size: 1rem;
  font-family: inherit;
  color: #828282;
  background: transparent;
  padding-left: 2.5rem;
}

.form-content {
  position: relative;
}

.form-content p {
  color: red;
  font-size: 15px;
  font-weight: bold;
  text-align: right;
  padding-bottom: 1rem;
  visibility: hidden;
  font-family: inherit;
}

.success input {
  border: 1.5px solid green;
}

.error input {
  border: 1.5px solid red;
}

.icon_inside {
  position: relative;
}

#mail-icon,
#lock-icon {
  position: absolute;
  left: 0;
  top: 0.6rem;
  padding: 0.6rem 0.6rem;
  color: #828282;
}

#icon {
  position: absolute;
  right: 0.6rem;
  top: 1.3rem;
  visibility: hidden;
}

.success .fa-check-circle {
  visibility: visible;
  color: green;
}

.error .fa-exclamation-circle {
  visibility: visible;
  color: red;
}

.error p {
  visibility: visible;
}

button {
  width: 90%;
  background-color: #2f80ed;
  color: #fff;
  padding: 0.9rem;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-size: inherit;
  font-family: inherit;
  box-shadow: 0 5px 1px rgb(0 0 0 / 20%);
}

button:hover {
  cursor: pointer;
  transform: scale(1);
  filter: brightness(120%);
}

/* FORM STYLING ENDS */

.social_container {
  text-align: center;
}

.social_icon {
  margin-bottom: 0.5rem;
}

.icon {
  color: #828282;
  border-radius: 50%;
  border: 1px solid #828282;
  padding: 0.6rem;
  font-size: 1.5rem;
  margin: 0.6rem;
}

.login {
  color: #2d9cdb;
}

/* FOOTER SETTINGS */
.footer {
  width: 32rem;
  max-width: 90%;
  display: flex;
  justify-content: space-between;
  margin-top: -4rem;
  font-size: 0.8rem;
  color: #828282;
}

.username {
  color: #828282;
}

/* LOGIN PAGE STARTS */
.body_login {
  background-color: #fff;
  color: #333333;
}

/* LOGIN PAGE END */


